.background{
    background-color: grey;
    width: 80vw;
    margin-left: 20rem;
}
.remix{
    font-size: medium;
    margin-left: 10px;
    display: flex;
    position: relative;
    font-size: 40px;

}

.remix1{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    position: relative;
    display: inline;
}

.artist1{
    margin-left: 50px;
}

.text1{
    margin-left: 70px;
}


.remix2{
    height: 100px;
    width: 100px;
    margin-left: 200px;
    margin-top: -240px;
    position: relative;
    display: inline;
}

.images1{
  height: 20px;
  width: 18px;
  position: relative;
  display: inline;
  vertical-align: text-bottom;
  margin-right:8px;

}